{% include template_name+'/header2.html' %}
<div class="container">
	<h2 style="color: gray; text-align:center;">{{category_name}}</h2>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{%for post in posts%}
		<div class="row panel_startup" style="border:none">
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" style="margin-top:10px;">
				<img src="{{post.feature_image}}" class="img-responsive">
			</div>
			<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8" style="padding:0px;">
				<h4>{{post.title}}</h4>
			</div>
			<p>
			{{post.description|striptags|truncate(400)}}</p>
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<center><a href="/{{post.slug}}" class="btn btn-readmore">Read More..</a></center>
				</div>
			</div>
			
		</div>
		{%endfor%}

	</div>
</div>
</div></div></div></div></div>
{% include template_name+'/footer2.html' %}
