{% include template_name+'/header2.html' %}
{%for event in event_object%}
<div class="container">
<!-- container -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding-left:0px;">
        <div class="panel panel-default" style="padding:10px;">
            <center><h3>{{event.title}}</h3></center>
            <hr>
            	<img src="{{event.feature_image}}" class="img-responsive" style="width:100%">
            <br>
            <p>
               {{event.description|safe}}
            </p>
            <p style="color:gray">
       		 	Date:  {{event.date}}
       		 </p>

            <script type="text/javascript">
                $(document).ready(function(){

    
                $("[data-toggle=tooltip]").tooltip();
            });
            </script>
            <!-- end comment -->
        </div>
    </div>
    <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 center-menu pull-right" style="margin:0px; padding:0px;">
        <ul>
        {%for event in related_events%}
            <li>
	            <a href="/{{event.slug}}">
	            	<center><h4>{{event.title}} </h4></center>
	            	<p style="padding-left:0px;">
	            	{{event.description|safe|truncate(200)}}
		           	</p>
		           	<p style="color:gray">
	           		 	On {{event.date}}
	           		 </p>
	           	 </a>
            </li>
        {%endfor%}

        </ul>  
    </div>
</div>
</div> <!--end container-->
{%endfor%}
{% include template_name+'/footer2.html' %}