<!DOCTYPE html>
<html>
<head>
    <title>SmallWorld Cambodi | Start up Cambodia</title>
    <meta charset="utf-8">
    <link rel="icon" href="/static/admin/images/logo.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" SmallWorld helps entrepreneurs test, refine, design startup model, build, and launch fast with small capital by providing a share workspace and a supporting community of like-mined people.">
        <meta name="keywords" content="startup, Smallworld, Cambodia , business, Cambodia starups, technology in cambodia, Startup in Cambodia">
    <meta name="author" content="Amoogli">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/{{template_name}}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/{{template_name}}/css/style.css">

    <!-- jQuery library -->
    <script src="/static/{{template_name}}/js/jquery-3.1.0.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/static/{{template_name}}/js/bootstrap.min.js"></script>
    

</head>

<body>
	<div  class="col-sm-12" style="background-image: url(/static/{{template_name}}/img/back.png);margin-bottom:0px;padding:0px;min-height:500px;">
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
				<center>
					<a href="/"><img src="static/{{template_name}}/img/logo.png" class="img-responsive" style="max-width:80%; margin-bottom:20px;"></a>
				</center>
			</div>
			<div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="margin-top:-100px;">
				<center><h3 class="h3-title">Explore Our Community</h3></center>
			</div>
			<div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-top:30px;">
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " style="margin-bottom:10px;">
					<center>
						<a href="/about-us">
							<button type="button" class="btn btn-default1">
								<h3>ABOUT US</h3>
							</button>
						</a>
					</center>
				</div>

				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " style="margin-bottom:10px;">
					<center>
						<a href="whatsup">
							<button type="button" class="btn btn-default1" >
								<h3>WHAT'S UP</h3>
							</button>
						</a>
					</center>
				</div>

				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " style="margin-bottom:10px;">
					<center>
						<a href="/coworking-spaces">
							<button type="button" class="btn btn-default1" >
								<h3>SPACES</h3>
							</button>
						</a>
					</center>
				</div>

				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " style="margin-bottom:10px;">
					<center>
						<a href="/members">
							<button type="button" class="btn btn-default1">
								<h3>TEAM</h3>
							</button>
						</a>
					</center>
				</div>
			</div>
			<div class="col-xs-12 hidden-xs" style="height:90px;"></div>
		</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="background-color:gray; margin-top:10px;margin-top:0px;"  >
	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 "></div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
		<center>
			<a href="/">
				<img src="static/{{template_name}}/img/logo.png" class="img-responsive" style="max-width:30%;">
			</a>
			<a href="https://www.google.com.kh/maps/place/SmallWorld+Cambodia/@11.5734287,104.8905132,17z/data=!3m1!4b1!4m5!3m4!1s0x31095176107e45fb:0xd4050445961ddaaf!8m2!3d11.5734287!4d104.8927019">
                   <p style="color:#fff;">House #17, St. 604, Toul Kork, Phnom Penh, Cambodia</p>
           	</a>
            <p style="color:#fff;">
                    Copyright © 2016 SmallWorldCambodia
            </p>
		</center>
	</div>
	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 "></div>
</div>

</body>

</html>