{% include template_name+'/header2.html' %}
		

	<div class="container">
	<h2 style="color: #0a8; text-align:center;">TEAM</h2>
	{%for m in members%}
	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 photos">
		<img src="{{m.feature_image}}" class="img-circle img-responsive photo" data-toggle="modal" data-target="#myModal_{{m.id}}">
		<section>
			<center>
				<h4>{{m.name}}</h4>
				<p class="p1">{{m.possition}}</p>
			</center>
		</section>
	</div>
<!-- Modal -->
  <div class="modal fade" id="myModal_{{m.id}}" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{m.name}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{m.feature_image}}" class="img-circle img-responsive"> </div>

                </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Position</td>
                        <td><b>{{m.possition}}</b></td>
                      </tr>
                        <td>Information Detail</td>
                        <td>
                        {{m.detail}}
                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
               

          </div>
      </div>
    </div>
   {%endfor%}
  </div>

		



    <script type="text/javascript">
$(document).ready(function() {
    var panels = $('.user-infos');
    var panelsButton = $('.dropdown-user');
    panels.hide();

    //Click dropdown
    panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
            }
            else
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
            }
        })
    });


    $('[data-toggle="tooltip"]').tooltip();

    $('button').click(function(e) {
        e.preventDefault();
        alert("This is a demo.\n :-)");
    });
});
    </script>







	</div>

{% include template_name+'/footer2.html' %}
