{% include template_name+'/header2.html' %}
{%for post in page_object%}
<style type="text/css">
	.element.style{
		background-color: white;
	}
</style>
<div class="container">
{%if post.title=='About us'%}
	<h2 style="color: #0a8; text-align:center;">{{post.title}}</h2>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding:0px;">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
		
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding:0px;">
				<h3 style="color:#0a8">The Spirit</h3>
				<div class="panel padel-defualt">
					<div class="panal1">
						<center>
							<p style="color:#fff;"><b>{{post.title}}</b></p>
						</center>
					</div>
					<div   style="margin:10px;">
						<p>
							{{post.description|safe}}
						</p>
					</div>
				</div>

			</div>
			
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			{%set help=0%}
			{%for p in startups%}
			{%if help==0%}
				<h3 style="color:#0a8">Startups</h3>
				<div class="row panel_startup">
			{%endif%}
			{%set help = help+1%}
				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" style="margin-top:10px;">
					<img src="{{p.feature_image}}" class="img-responsive">
				</div>
				<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8" style="padding:0px;">
					<h4>{{p.title}}</h4>
				</div>
				<p>
				{{p.description|striptags|truncate(200)}}</p>
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<center><a href="/{{p.slug}}" class="btn btn-readmore">Read More..</a></center>
				</div>
				<hr/>
			{%endfor%}
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="margin-top:20px;">
					<center>
						<a href="/startups" class="btn btn-readmore">
							View All..
						</a>
					</center>
				</div>
			</div>
		</div>
	</div>
{%else%}
	<div class="col-xs-12 col-sm-12">
		<h2 style="color: green; text-align:center;"> {{post.title}}</h2>
	</div>
	<div class="col-xs-12 col-sm-12">
		{{post.description|safe}}
	</div>
{%endif%}

</div>
{%endfor%}
{% include template_name+'/footer2.html' %}
