{% include template_name+'/header2.html' %}

<div class="container">
	<h2 style="color: #0a8; text-align:center;">ABOUT US</h2>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding:0px;">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
		{%for post in spirits%}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding:0px;">
				<h3 style="color:#0a8">The Spirit</h3>
				<div class="panel padel-defualt">
					<div class="panal1">
						<center>
							<p style="color:#fff;"><b>{{post.id}} - {{post.title}}</b></p>
						</center>
					</div>
					<p>
						{{post.description|safe}}
					</p>
				</div>

			</div>
			{%endfor%}
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h3 style="color:#0a8">Startups</h3>
			{%for p in startup%}
			<div class="row">
				<div class="panel padel-defualt" style="margin-top:5px;padding:10px;">
				<!-- <img src="/static/{{template_name}}/img/photo1.jpg" class="img-responsive"> -->
					<p>
					
					{{p.description|safe}}
					</p>
				</div>
			</div>
			{%endfor%}
		</div>
	</div>
</div>

{% include template_name+'/footer2.html' %}