{% include template_name+'/header2.html' %}


{%for post in post_object%}
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center>
                <h2>{{post.title}}</h2>
                <p style="margin-bottom:20px;">{{post.short_description}}</p>
            </center>
            {%if post.images==''%}
            <div class="background" style="background: url(/static/{{template_name}}/img/smallworld-img/img1.jpg) no-repeat center center;-webkit-background-size: cover;">
            {%else%}
                <div class="background" style="background: url(/static/images/images/{{post.images.split('$$$$$')[0]}}) no-repeat center center;-webkit-background-size: cover;">
            {%endif%}
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <!-- <center>
                        <img src="img/logo.png" class="img-responsive logo-single">
                    </center> -->
                </div> 
                <div class="contant-img col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <br/>
                   {{post.description|safe}}
                </div>      
            </div>
        </div>
    <div class="row"></div>
    {%if post.map !='' %}
        <h3>See the map here</h3>
        
            {{post.map|safe}}
        </div>
    {%endif%}

{%endfor%}

<script type="text/javascript">
    $("iframe").css('width','100%');
</script>

{% include template_name+'/footer2.html' %}