{% include template_name+'/header2.html' %}

<div class="container">
	<h2 style="color: #0a8; text-align:center;"> What's Up?</h2>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding:0px;">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding:0px;">
				<h3 style="color:#0a8;">EVENTS</h3>
				{%for event in events%}
				<div class="panel padel-defualt">
					<div class="panal1">
						<a href="/{{event.slug}}" title="{{event.title}}">
							<center>
								<p style="color:#fff;"><b>
									{{event.title}}
								</b></p>
							</center>
							<small style="color:white">Date: {{event.date}}</small>
						</a>
					</div>
					<p>
						{{event.description|truncate(200)|safe	}}
					</p>
				</div>
				{%endfor%}
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px;">
			{%for s in page_object%}
			<h3 style="color:#0a8;">{{s.title}}</h3>
				<div class="panel padel-defualt">
					<p>
						 {{s.description|safe}}
					</p>
				</div>

				
			{%endfor%}

		</div>
	</div>
	</div>
</div>
<style type="text/css">
	.fullwith{
		width:96%;
	}
</style>
<script type="text/javascript">
	$('iframe').addClass('fullwith');
</script>
{% include template_name+'/footer2.html' %}