
  /*------------------------------------------Search------------------------------------------------------*/

.navbar-form .form-control {
    display: inline-block;
    vertical-align: middle;
}

/*------------------------------------------End Search------------------------------------------------------*/


.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar-form .form-control {
    display: inline-block;
    max-width: 700px;
    vertical-align: middle;
}

.btn-default1{
    background-color: #fff; 
    border-color: #fff; 
    color: #27AE60; 
    padding: 10px; 
    width: 180px;
    transition: 0.5s;
}
.btn-default:hover{
    background-color: #fff;
    border-color: #fff;
    color: #0a8;
    transition: 0.5s;
}
.header1{
    height: 70px;
    background-color: #0a8;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.logo{
    max-width: 35%;
}

/*search*/
a{
    color:#fff;
    text-decoration: none;
}
.photo{
    border:2px solid #0a8;
}
h4{
    font-family: 'Righteous', cursive;
    color:#0a8;
}
p{
    color: #000;
}
h2 {
    font-family: 'Fredoka One', cursive;
    color: #0a8;
}
span{
    font-family: 'Hammersmith One', sans-serif;
}
a:hover{
    text-decoration: none;
    color:#FEC606;
}
.con1{
    background-color:#0a8; 
    height:155px; 
    margin-top:60px;
}
h3,h2{
    font-family: 'Fjalla One', sans-serif;
}
h4{
    font-family: 'Righteous', cursive;
}
.h3-title{
    color: #000;
}
a h3:hover{
    color: #48AD01;
    transition: 0.5s;
}
button,input{
    font-family: 'Hammersmith One', sans-serif;   
}
.background{
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-color: #0a8;
}
p{
    margin: 0px;
}
small{
    padding-left: 20px;
    font-size: 10px;
}
.story{
    border: 1px solid green;
    padding: 5px;
}
.his-point{
    background-color: #53DF83; 
    margin:1px; 
    padding:10px;
}
.border{
    border-color:red;
    border: 2px solid #0a8;
    margin-top: 10px;
}

/*navbar*/
.navbar-brand>img {
    display: block;
    max-width: 97px;
}
.navbar-brand{
    padding: 0px;
}
.navbar-default {
    background-color: #0a8;
}
.navbar{
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: green;
    transition: 0.5s;
}
.container-fluid{
    padding-left: 18%;
}
@media screen and (max-width: 770px) {
    .container-fluid{
    padding-left: 15px;
}
}
.panel{
    padding: 10px;
    border-radius: 0px;
    border:1px solid #0a8;
}
.panel_startup{
    padding: 10px;
    border-radius: 0px;
    border:1px solid #0a8;
}
.panal1{
    background-color: #0a8;
    padding: 5px;
}
p{
    padding: 5px;
}
/*modal*/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
.photos{
    cursor: pointer;
}
.panal1{
    color:#fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
h3 {
    text-align: center;
    color: #0a8;
}
.background{
    height: 600px;
    /*background: url(../img/smallworld-img/img1.jpg) no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.contant-img{
    background-color: rgba(0, 170, 136, 0.65);
    height: 500px;
}
@media screen and (max-width: 770px) {
    .contant-img{
        background-color: rgba(0, 170, 136, 0.65);
        height: 600px;
}
.h3-title{
    color: #000;
    margin-top: 60px;
}
}
.h4-price-tile{
    color: #fff;
    font-size: 23px;
}
.h4-price{
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
}
.logo-single{
    max-width: 50%;
}
.footer{
    background-color: #00aa88;
    margin-top: 10px;
}


.right-logo{
    padding: 0px;
    margin-top: -14px;
    max-width: 54px;
}
.btn-readmore{
    background-color: #00aa88;
    color: #fff;
    transition: 0.5s;
}

/*beside slide menu*/
.center-menu{margin:30px auto; float:none;}
.center-menu ul{width:100%; padding-left:0;}
.center-menu ul li{width:100%; margin-bottom:2px; background:#f4f4f4; list-style:none; padding:10px; 
font-family:"open sans", serif ;
   font-size:12px;}
.center-menu ul li i{font-size:10px; color:#ccc; padding-right:5px;}
 
.center-menu ul li a{color:#4f4f4f; display:block; text-decoration:none; width:100%;}
.center-menu ul li:nth-child(1){border-right: 5px solid #8d54a3}
.center-menu ul li:nth-child(2){border-right: 5px solid #6CC437}
.center-menu ul li:nth-child(3){border-right: 5px solid #f28c1d}
.center-menu ul li:nth-child(4){border-right: 5px solid #e94979}
.center-menu ul li:nth-child(5){border-right: 5px solid #00B0F0}
.center-menu ul li:nth-child(6){border-right: 5px solid #cc3333}
.center-menu ul li:nth-child(7){border-right: 5px solid #FABE09}
.center-menu ul li:nth-child(8){border-right: 5px solid #e94979}
.center-menu ul li:nth-child(9){border-right: 5px solid #8d54a3}
.center-menu ul li:nth-child(10){border-right: 5px solid #6CC437}
.center-menu ul li:nth-child(11){border-right: 5px solid #f28c1d}
.center-menu ul li:nth-child(12){border-right: 5px solid #e94979}
.center-menu ul li:nth-child(13){border-right: 5px solid #00B0F0}
.center-menu ul li:nth-child(14){border-right: 5px solid #F46652}
.center-menu ul li:nth-child(15){border-right: 5px solid #FABE09}
.center-menu ul li:nth-child(16){border-right: 5px solid #6CC437}
.center-menu ul li:nth-child(17){border-right: 5px solid #f28c1d}
.center-menu ul li:nth-child(18){border-right: 5px solid #e94979}
.center-menu ul li:nth-child(19){border-right: 5px solid #00B0F0}
.center-menu ul li:nth-child(20){border-right: 5px solid #F46652}
.center-menu ul li:nth-child(21){border-right: 5px solid #FABE09}




.center-menu ul li:hover a{color:#fff; text-decoration:none; transition: 0.3s;}
.center-menu ul li:nth-child(1):hover{background-color:#8d54a3;transition: 0.3s;}
.center-menu ul li:nth-child(2):hover{background-color:#6CC437;transition: 0.3s;}
.center-menu ul li:nth-child(3):hover{background-color:#f28c1d;transition: 0.3s;}
.center-menu ul li:nth-child(4):hover{background-color:#e94979;transition: 0.3s;}
.center-menu ul li:nth-child(5):hover{background-color:#00B0F0;transition: 0.3s;}
.center-menu ul li:nth-child(6):hover{background-color:#cc3333;transition: 0.3s;}
.center-menu ul li:nth-child(7):hover{background-color:#FABE09;transition: 0.3s;}
.center-menu ul li:nth-child(8):hover{background-color:#e94979;transition: 0.3s;}
.center-menu ul li:nth-child(9):hover{background-color:#8d54a3;transition: 0.3s;}
.center-menu ul li:nth-child(10):hover{background-color:#6CC437;transition: 0.3s;}
.center-menu ul li:nth-child(11):hover{background-color:#f28c1d;transition: 0.3s;}
.center-menu ul li:nth-child(12):hover{background-color:#e94979;transition: 0.3s;}
.center-menu ul li:nth-child(13):hover{background-color:#00B0F0;transition: 0.3s;}
.center-menu ul li:nth-child(14):hover{background-color:#F46652;transition: 0.3s;}
.center-menu ul li:nth-child(15):hover{background-color:#FABE09;transition: 0.3s;}
.center-menu ul li:nth-child(16):hover{background-color:#6CC437;transition: 0.3s;}
.center-menu ul li:nth-child(17):hover{background-color:#f28c1d;transition: 0.3s;}
.center-menu ul li:nth-child(18):hover{background-color:#e94979;transition: 0.3s;}
.center-menu ul li:nth-child(19):hover{background-color:#00B0F0;transition: 0.3s;}
.center-menu ul li:nth-child(20):hover{background-color:#F46652;transition: 0.3s;}
.center-menu ul li:nth-child(21):hover{background-color:#FABE09;transition: 0.3s;}